<h1>Pets Page</h1>
<hr>

<section class="row">
  <div class="col-12 col-sm-6">
    <h3>Add: </h3>
    <input type="text" class="form-control" placeholder="Name">
    <input type="number" class="form-control mt-2" placeholder="Age">

    <button class="mt-2 btn btn-primary col-3">Add</button>
  </div>

  <div class="col-12 col-sm-6">
    <h3>List</h3>
    <ul>
      @for (pet of pets(); track pet.id; let idx = $index){
        <span>{{ idx+1 }}. {{ pet.name }} </span>
        <strong
            [class.text-warning]="pet.age >= 11"
            [class.text-primary]="pet.age < 10"
        >
          ({{pet.age}})
        </strong>
        <br>
      }
    </ul>
  </div>
</section>
